@use "./base.scss";

// put your custom CSS here!
a {
  text-decoration: none;
  background-image: linear-gradient(var(--secondary), var(--tertiary));
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out !important;
}
a:hover, a:focus, a:active {
  background-size: 100% 0.2em;
}
